body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

section > .title:first-of-type {
  margin-bottom: 70px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

section:not(:first-child):not(:nth-child(2)) {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 70px;
  margin-bottom: 70px;
}

.section-divider {
  height: 2px;
  width: 100vw;
  max-width: 100%;
  background-color: aqua;
}

.more {
  background: linear-gradient(to bottom, aqua 0%, aqua 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: rgb(39, 39, 39);
  text-decoration: none;
  font-weight: 500;
  transition: background-size 0.4s;
}

.more:hover {
  background-size: 4px 50px;
}

.parenthesis {
  color: rgb(39, 39, 39);
  text-decoration: none;
  font-weight: 500;
}

/* Start of Header Section */

header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 8vh;
  width: 100vw;
  max-width: 100%;
}

.right {
  margin-right: 2%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

.left {
  margin-left: 2%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
}

.darkheader {
  color: white;
  background-color: black;
}

.right a {
  margin-left: 10px;
  padding: 4px 5px 4px 5px;
  text-decoration: none;
  color: rgb(190, 190, 190);
  border: 2px solid rgb(92, 92, 92);
  border-radius: 2px;
}

.left h1 a {
  color: rgb(190, 190, 190);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .right a {
    font-size: 10px;
  }
  .left h1 a {
    font-size: 25px;
  }
}

/* End of Header Section */

/* Start of Main Section */

.start {
  position: relative;
  text-align: center;
  height: 100vh;
}

.start-backround {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start .title .lplugins {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 55.2px;
  padding-bottom: 1rem;
  color: rgb(134, 134, 134);
}

.start .title .lplugins-subtitle {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.8px;
  line-height: 15px;
  font-style: italic;
  color: rgb(134, 134, 134);
}

/* End of Main Section */

/* Start of About Me Section */

.info {
  display: inline-flex;
  flex-direction: row;
}

.info .name {
  font-weight: 600;
}

.info .description {
  font-size: 1em;
  font-weight: 400;
}

.info img {
  margin-right: 5%;
  flex-shrink: 0;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid aqua;
  border-radius: 50%;
  transition: transform 0.2s;
}

.info img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .info {
    flex-direction: column;
  }
  .info img {
    margin-right: unset;
    align-self: center;
    margin-bottom: 30px;
  }
}

/* End of About Me Section */

/* Start of Projects Section */

.cards {
  display: flex;
  flex: 1 2 30%;
  flex-flow: row wrap;
  flex-direction: row;
}

.card {
  border: 2px solid aqua;
  border-radius: 10px;
  flex: 1 2 40%;
  flex-flow: row wrap;
  flex-direction: row;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.card:not(:last-of-type) {
  margin-right: 5%;
}

.card .title {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 600;
}

.card .description {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1em;
  font-weight: 500;
  max-height: 2.5em;
  max-width: 90%;
}

@media only screen and (max-width: 600px) {
  .cards {
    flex-direction: column;
  }
  .card:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 5%;
  }
}

/* End of Projects Section */

/* Start of Contacts Section */

.contacts {
  text-align: center;
}

.icons img {
  width: 10vmin;
  margin-left: 5%;
  margin-right: 5%;
  transition: transform 0.2s;
}

.icons img:hover {
  transform: scale(1.1);
}

/* End of Contacts Section */
